name: Build

on: [push, pull_request]

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update && \
        sudo apt-get install make automake g++ libpoppler-glib-dev libcairo2-dev pkg-config

    - name: Bootstrap
      run: ./bootstrap

    - name: Configure
      run: ./configure

    - name: Build
      run: make

    - name: Package Linux binary
      run: |
        mkdir -p linux-dist
        cp diff-pdf linux-dist/
        strip linux-dist/diff-pdf
        tar czf diff-pdf-linux-x86_64.tar.gz -C linux-dist diff-pdf

    - name: Upload Linux binary
      uses: actions/upload-artifact@v4
      with:
        name: linux-binary
        path: diff-pdf-linux-x86_64.tar.gz

  publish-release:
    name: Publish release
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [build-linux]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: linux-binary

      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          prerelease: true
          artifacts: "diff-pdf-linux-x86_64.tar.gz"
          token: ${{ secrets.GITHUB_TOKEN }}
